In [1]:
import pandas as pd

In [2]:
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [19]:
os.chdir("C:/Users/Monu/Desktop/Pandas/Black Friday")

In [20]:
warnings.filterwarnings("ignore")
%matplotlib inline

In [22]:
train=pd.read_csv("train.csv",encoding="unicode_escape")

In [24]:
test=pd.read_csv("test.csv",encoding="unicode_escape")

In [26]:
test=pd.read_csv("test.csv")

In [27]:
train=pd.read_csv("train.csv")

In [28]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [29]:
test.shape

(233599, 11)

In [ ]:
train.head()

In [ ]:
train.shape

In [ ]:
test.isnull().sum()

In [ ]:
train.isnull().sum()

In [ ]:
blf=test.append(train)

In [ ]:
blf.isnull().sum()

In [ ]:
print("Shape:",blf.shape)
blf.head()

# Find all Unique values in each column

In [ ]:
blf.apply(lambda x: len(x.unique()))

In [ ]:
blf.info()

In [ ]:
blf.describe(include="O")

In [ ]:
blf.describe()

# EDA

#Univariate

In [ ]:
plt.figure(figsize=(13,7))
sns.distplot(blf["Purchase"])

In [ ]:
sns.boxplot(blf["Purchase"])

# 3-SD Rule

In [ ]:
m=np.mean(blf.Purchase)
std=np.std(blf.Purchase)

In [ ]:
SD3 = m+3*std
SD3

In [ ]:
Out=blf[blf["Purchase"]>SD3]["Purchase"].count()
Out

# Percentile Rule

In [ ]:
P=np.percentile(blf.Purchase,99)
P

# IQR Method

In [ ]:
Q3=np.percentile(blf.Purchase,75)
Q1=np.percentile(blf.Purchase,25)
IQR = Q3-Q1
IQR

In [ ]:
sns.countplot(blf["Age"])

In [ ]:
blf["Age"].value_counts(normalize=True).sort_values()*100

In [ ]:
sns.countplot(blf["Gender"])

In [ ]:
plt.figure(figsize=(13,7))
sns.countplot(blf["Occupation"])

In [ ]:
sns.countplot(blf["City_Category"])

In [ ]:
sns.countplot(blf["Stay_In_Current_City_Years"])

In [ ]:
blf["Stay_In_Current_City_Years"].value_counts(normalize=True)*100

In [ ]:
sns.countplot(blf["Marital_Status"])

In [ ]:
blf["Marital_Status"].value_counts(normalize=True)*100

In [ ]:
plt.figure(figsize=(13,7))
sns.countplot(blf["Product_Category_1"])

In [ ]:
blf["Product_Category_1"].value_counts(normalize=True)*100

In [ ]:
plt.figure(figsize=(13,7))
sns.countplot(blf["Product_Category_2"])

In [ ]:
blf["Product_Category_2"].value_counts(normalize=True)*100

In [ ]:
plt.figure(figsize=(13,7))
sns.countplot(blf["Product_Category_3"])

In [ ]:
blf["Product_Category_3"].value_counts(normalize=True)*100

#Bivariate

In [ ]:
#Pivot Table
Gender_plot=blf.pivot_table(index="Gender", values="Purchase", aggfunc=np.mean)
Gender_plot

In [ ]:
Gender_plot.plot(kind="bar")
plt.xlabel("Gender")
plt.ylabel("Purchase")
plt.title("Gender v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

In [ ]:
Age_plot=blf.pivot_table(index="Age", values="Purchase", aggfunc=np.mean)
Age_plot

In [ ]:
Age_plot.plot(kind="bar", figsize=(13,7))
plt.xlabel("Age")
plt.ylabel("Purchase")
plt.title("Age v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

In [ ]:
Occ_plot=blf.pivot_table(index="Occupation", values="Purchase", aggfunc=np.mean)
Occ_plot

In [ ]:
Occ_plot.plot(kind="bar", figsize=(13,7))
plt.xlabel("Occupation")
plt.ylabel("Purchase")
plt.title("Occupation v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

In [ ]:
Ci_Ct_plot=blf.pivot_table(index="City_Category", values="Purchase", aggfunc=np.mean)
Ci_Ct_plot

In [ ]:
Ci_Ct_plot.plot(kind="bar", figsize=(13,7))
plt.xlabel("City_Category")
plt.ylabel("Purchase")
plt.title("City_Category v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

In [ ]:
Stay_Yrs_plot=blf.pivot_table(index="Stay_In_Current_City_Years", values="Purchase", aggfunc=np.mean)
Stay_Yrs_plot

In [ ]:
Stay_Yrs_plot.plot(kind="bar", figsize=(13,7))
plt.xlabel("Stay_In_Current_City_Years")
plt.ylabel("Purchase")
plt.title("Stay_In_Current_City_Years v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

In [ ]:
MS_plot=blf.pivot_table(index="Marital_Status", values="Purchase", aggfunc=np.mean)
MS_plot

In [ ]:
MS_plot.plot(kind="bar", figsize=(13,7))
plt.xlabel("Marital Status")
plt.ylabel("Purchase")
plt.title("Marital Status v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

In [ ]:
P1_plot=blf.pivot_table(index="Product_Category_1", values="Purchase", aggfunc=np.mean)
P1_plot

In [ ]:
P1_plot.plot(kind="bar", figsize=(13,7))
plt.xlabel("Product Category 1")
plt.ylabel("Purchase")
plt.title("Product Category 1 v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

In [ ]:
P2_plot=blf.pivot_table(index="Product_Category_2", values="Purchase", aggfunc=np.mean)
P2_plot

In [ ]:
P2_plot.plot(kind="bar", figsize=(13,7))
plt.xlabel("Product Category 2")
plt.ylabel("Purchase")
plt.title("Product Category 2 v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

In [ ]:
P3_plot=blf.pivot_table(index="Product_Category_3", values="Purchase", aggfunc=np.mean)
P3_plot

In [ ]:
P3_plot.plot(kind="bar", figsize=(13,7))
plt.xlabel("Product Category 3")
plt.ylabel("Purchase")
plt.title("Product Category 3 v/s Purchase Analysis")
plt.xticks(rotation=0)
plt.show()

# Correlation

In [ ]:
sns.heatmap(blf.corr(), annot=True, vmin=-1, vmax=1, center=0, cmap="coolwarm")

# Missing Value Treatment

In [ ]:
blf.isnull().sum()

In [ ]:
blf["Product_Category_2"]=np.round(blf["Product_Category_2"].fillna(blf.Product_Category_2).groupby(blf.Product_Category_1).transform("mean"))

In [ ]:
blf.Product_Category_2

In [ ]:
(blf.Product_Category_2.isnull().sum()/blf.shape[0])*100

In [ ]:
(blf.Product_Category_3.isnull().sum()/blf.shape[0])*100

In [ ]:
blf["Product_Category_3"]=np.round(blf["Product_Category_3"].fillna(blf.Product_Category_3).groupby(blf.Product_Category_1).transform("mean"))

In [ ]:
blf.Product_Category_3

In [ ]:
(blf.Product_Category_3.isnull().sum()/blf.shape[0])*100

In [ ]:
blf["Product_Category_2"]= blf["Product_Category_2"].fillna(0.0).astype("float32")
blf["Product_Category_3"]= blf["Product_Category_3"].fillna(0.0).astype("float32")

In [ ]:
blf.Product_Category_2.isnull().sum()

In [ ]:
blf.Product_Category_3.isnull().sum()

In [ ]:
blf.info()

# Copying Main Data

In [ ]:
blf1 = blf.copy()

In [ ]:
blf1.info()

In [ ]:
blf1.drop(["User_ID", "Product_ID"], axis = 1, inplace = True)

In [ ]:
blf1.info()

# Define Dummy Variables

In [ ]:
blf1= pd.get_dummies(blf1, drop_first=True)

In [ ]:
blf1.info()

In [ ]:
blf1.head()

In [ ]:
test1=blf1[blf1["Purchase"].isnull()]
train1=blf1[blf1["Purchase"].notnull()]

In [ ]:
train1.shape

In [ ]:
test1.shape

# Assigning Dependent and Independent Variable

In [ ]:
train_y=train1["Purchase"]
train_x=train1.drop("Purchase", axis=1)

In [ ]:
test_c1=test1.drop("Purchase",axis=1)

# Regression Model Building

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
LR=LinearRegression()

In [ ]:
LR.fit(train_x, train_y)

# Alpha Value

In [ ]:
LR.intercept_

In [ ]:
LR.coef_

# Converting Coefficient to DataFrame

In [ ]:
coeff_LR = pd.DataFrame(LR.coef_, train_x.columns, columns=["Coefficient"])
coeff_LR

In [ ]:
Y_pred=LR.predict(test_c1)

In [ ]:
Y_pred

In [ ]:
blf2=blf.copy()

In [ ]:
test_final = blf2[blf2.Purchase.isnull()]

In [ ]:
test_final.head()

In [ ]:
data_final=test_final[["User_ID","Product_ID"]]

In [ ]:
data_final.shape

In [ ]:
data_pred=pd.concat([data_final, pd.DataFrame(Y_pred, columns=["Purchase"])], axis = 1)

# Predicted Purchase

In [ ]:
data_pred.head()

# Exporting Final Predicted Output

In [ ]:
#data_pred.to_csv("Prediced Purchase for Blk Frdy.csv", index = False)

In [ ]:
plt.figure(figsize=(13,7))
sns.distplot(data_pred["Purchase"])